@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:wght@500&display=swap');

body{
    font-family: 'Roboto Condensed', sans-serif;
}

/************************BODY SECTION************************************/
.mainSection {
    background-image: url(./img.jpg);
    height: 92vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    align-items: center;
  }

.leftContent{  
   margin-left: 10%;
   margin-right: 55%;
}

.general{
    padding-bottom: 2%;
    font-size: 40px;
    font-weight: 800;
}

.welcomeText{
    font-size: 17px;
    text-align: justify;
}

.login{
    background-color: #82B541;
    color: white;
    border-radius: 45px;
    border: none;
    padding: 3% 30px;
    letter-spacing: 1.5px;
    margin-top: 25px;
}
